<!DOCTYPE html>
<html>
<head lang="en">
    {% include "inc/_basic.html" %}
    <title>添加推荐</title>
</head>
<body style="text-align: center">
{% include "inc/_nav.html" %}
<div class="container" style="padding-top: 100px">

    <div class="center-block">
        标题：<h1>{{obj.get("title")}}</h1>

        {% if obj.get('image') %}
        <img src="{{obj.get('image')._url}}" />
        {% endif %}

        简介：<p class="lead">
            {% if obj.get('content') %}
            {{obj.get('content')}}
            {% endif %}
        </p>
        编辑：<p class="lead">
            {% set user = obj.get('user') %}
            {{user.get('nickName')}}
        </p>
    </div>
</div>
</body>
{% include "inc/import.html" %}
</html>