<!DOCTYPE html>
<html>
<head lang="en">
    {% include "inc/_basic.html" %}
    <title>推荐管理</title>
</head>
<body style="text-align: center">
{% include "inc/_nav.html" %}
<div class="container-fluid" style="padding-top: 100px;">
    <table class="table table-bordered" id="postTable">
        <tr>
            <td>标题</td>
            <td>图片</td>
            <td>内容</td>
            <td>编辑</td>
            <td>操作</td>
        </tr>
        {% for post in postList %}
        <tr>
            <td>{{post.get('title')}}</td>
            <td>
                {% if post.get('image') %}
                    <img src="{{post.get('image')._url}}" />
                {% endif %}
            </td>
            <td>
                {% if post.get('content') %}
                    {{post.get('content')}}
                {% endif %}
            </td>
            <td>
                {% set user = post.get('user') %}
                {{user.get('nickName')}}
            </td>
            <td><a href="/manage/recommend/{{post.id}}" class="btn btn-default" role="button">查看</a></td>
        </tr>
        {% endfor %}

    </table>
</div>
</body>
<script>
    _inlineRun(function() {
    })
</script>
{% include "inc/import.html" %}
</html>