<!DOCTYPE html>
<html>
<head lang="en">
    {% include "inc/_basic.html" %}
    <title>用户管理</title>
</head>
<body style="text-align: center">
{% include "inc/_nav.html" %}
<div class="container-fluid" style="padding-top: 100px;">
    <form class="form-inline" style="float: right" method="" action="">
        <input type="text" class="form-control" name="nickName" placeholder="昵称" value="{{nickName}}">
        <button type="submit" class="btn btn-default">搜索</button>
    </form>
    <table class="table table-bordered" id="userTable">
        <tr>
            <td>用户Id</td>
            <td>手机号</td>
            <td>昵称</td>
            <td>性别</td>
            <td>标签</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        {% for user in userList %}
            <tr>
                <td><a data-id="{{user.id}}" href="">{{user.id}}</a></td>
                <td>{{user.get("mobilePhoneNumber")}}</td>
                <td>{{user.get("nickName")}}</td>
                <td>{{user.showGender}}</td>
                <td>{{user.get("tags")}}</td>
                <td>{{user.showStatus}}</td>
                <td><button onclick="changeUserStatus('{{user.id}}')" class="btn {% if user.normal %}btn-danger {% else %}btn-default {% endif %}" role="button">{% if user.normal %} 封禁 {% else %} 取消封禁 {% endif %}</button></td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
<script>
    _inlineRun(function() {
        console.log("_inlineRun")
        window.changeUserStatus = function changeUserStatus(userId) {
            $.get("/manage/ajax/user/del/" + userId, function(data) {
                console.dir(data)
            })
        }
    })
</script>
{% include "inc/import.html" %}
</html>