<!DOCTYPE html>
<html>
<head lang="en">
    {% include "inc/_basic.html" %}
    <title>添加工作人员</title>
</head>
<body style="text-align: center">
{% include "inc/_nav.html" %}
<div class="container" style="padding-top: 100px">

    <form method="post" action="/manage/staff/add" class="center-block" style="padding-top: 100px">
        <h2>{{title}}</h2>
        <div class="form-group">
            <label for="mobile">手机号</label>
            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号">
        </div>
        <button type="submit" class="btn btn-default">登录</button>
    </form>
</div>
</body>
{% include "inc/import.html" %}
</html>