<!DOCTYPE html>
<html>
<head lang="en">
    {% include "inc/_basic.html" %}
    <title>工作人员管理</title>
</head>
<body style="text-align: center">
{% include "inc/_nav.html" %}
<div class="container-fluid" style="padding-top: 60px;">
    <form class="form-inline" style="float: right" method="post" action="/manage/staff/add">
        <input type="text" class="form-control" name="mobile" placeholder="手机号">
        <button type="submit" class="btn btn-default">添加成员</button>
    </form>
    <table class="table table-bordered" id="userTable">
        <tr>
            <td>用户Id</td>
            <td>手机号</td>
            <td>昵称</td>
            <td>性别</td>
            <td>标签</td>
            <td>操作</td>
        </tr>
        {% for user in staffList %}
        <tr>
            <td><a data-id="{{user.id}}" href="">{{user.id}}</a></td>
            <td>{{user.get("mobilePhoneNumber")}}</td>
            <td>{{user.get("nickName")}}</td>
            <td>{{user.showGender}}</td>
            <td>{{user.get("tags")}}</td>
            <td><a href="/manage/staff/del/{{user.id}}" class="btn btn-danger" role="button">删除</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
<script>
    _inlineRun(function() {
        console.log("_inlineRun")
//        $("#addBtn").on('click', function() {
//
//        })
    })
</script>
{% include "inc/import.html" %}
</html>