<!DOCTYPE html>
<html>
<head lang="en">
    {% include "inc/_basic.html" %}
    <title>用户管理</title>
</head>
<body style="text-align: center">
{% include "inc/_nav.html" %}
<div class="container-fluid" style="padding-top: 100px;">
    <form class="form-inline" style="float: left" method="" action="">
        <input type="text" class="form-control" name="nickName" placeholder="内容" value="{{name}}">
        <button type="button" class="btn btn-primary">搜索</button>
    </form>
    <form class="form-inline" style="float: left; margin-left: 100px;" method="post" action="/manage/ajax/crab/add">
        <input type="text" class="form-control" name="name" placeholder="敏感词">
        <button type="button" class="btn btn-default">添加敏感词</button>
    </form>
    <a href="/manage/crab/upload" class="btn btn-default">上传文件</a>
    <table class="table table-bordered" id="userTable">
        <tr>
            <td>Id</td>
            <td>内容</td>
            <td>操作</td>
        </tr>
        {% for crab in crabList %}
            <tr>
                <td>{{crab.id}}</a></td>
                <td>{{crab.get("name")}}</td>
                <td>{{user.showStatus}}</td>
                <td><button onclick="changeUserStatus('{{user.id}}')" class="btn {% if user.normal %}btn-danger {% else %}btn-default {% endif %}" role="button">{% if user.normal %} 封禁 {% else %} 取消封禁 {% endif %}</button></td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
<script>
    _inlineRun(function() {
        console.log("_inlineRun")
        window.changeUserStatus = function changeUserStatus(userId) {
            $.get("/manage/ajax/user/del/" + userId, function(data) {
                console.dir(data)
            })
        }
    })
</script>
{% include "inc/import.html" %}
</html>